* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.header__main-image1 {
  height: 9rem;
}
.header__main-image2 {
  height: 1.25rem;
}
.header__main h1 {
  color: white;
  font-size: 4rem;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0.75rem 0;
}
.header__main p {
  color: white;
  font-size: 1.1rem;
  width: 37.5rem;
  margin: 2rem 0;
  line-height: 1.85rem;
  font-weight: 300;
  opacity: 0.9;
}
.header__main-button {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  border: 0.1rem solid white;
  padding: 1.25rem 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.header__background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 7.5rem 0;
}
.info__left-list {
  padding: 0;
  list-style: none;
}
.info__left-listItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20rem;
  margin-bottom: 3rem;
}
.info__left-listItem h4 {
  text-align: right;
  font-size: 1.25rem;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  opacity: 0.75;
  margin-bottom: 0.5rem;
}
.info__left-listItem p {
  text-align: right;
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.65;
  line-height: 1.6rem;
}
.info__left-listItem img {
  margin-left: 1.25rem;
}
.info__left-listItem:last-child {
  margin-bottom: 0;
}
.info__right-list {
  padding: 0;
  list-style: none;
}
.info__right-listItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20rem;
  margin-bottom: 3rem;
}
.info__right-listItem h4 {
  font-size: 1.25rem;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  opacity: 0.75;
  margin-bottom: 0.5rem;
}
.info__right-listItem p {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0.65;
  line-height: 1.6rem;
}
.info__right-listItem img {
  margin-right: 1.25rem;
}
.info__right-listItem:last-child {
  margin-bottom: 0;
}
.info__main-image {
  width: 27.5rem;
}

.products {
  position: relative;
  padding: 0.1rem;
}
.products__info {
  text-align: center;
  margin: 7.5rem 0;
  width: 60%;
}
.products__info h3 {
  color: white;
  font-size: 2.75rem;
  font-family: "Marcellus", serif;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.products__info img {
  height: 1.5rem;
  margin: 0.75rem 0;
}
.products__info p {
  color: white;
  opacity: 0.85;
  font-size: 1.15rem;
  font-weight: 300;
  width: 35rem;
  margin: 0 auto 3rem;
  line-height: 1.75rem;
}
.products__button {
  color: white;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 1.15rem 2.5rem;
  border: 0.1rem solid white;
  text-decoration: none;
  display: inline-block;
}
.products__background-image {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.1rem;
}
.blog h2 {
  font-size: 2.5rem;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  margin-top: 5rem;
  letter-spacing: 0.25rem;
}
.blog .coffee-bean-icon {
  height: 1.25rem;
  margin: 0.75rem 0;
}
.blog p {
  opacity: 0.85;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.65rem;
  width: 35rem;
  text-align: center;
}

.testimonials {
  position: relative;
  text-align: center;
  padding: 0.1rem;
}
.testimonials__background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.testimonials h3 {
  color: white;
  font-size: 2.5rem;
  font-family: "Marcellus", serif;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  margin-top: 7.5rem;
}
.testimonials .coffee-bean-icon {
  height: 1.5rem;
  margin: 0.5rem 0 2rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 7.5rem;
}
.navigation__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin-left: 2.5rem;
}
.navigation__logo h5 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.navigation__logo img {
  height: 1rem;
}
.navigation__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2.5rem;
  height: 100%;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2.5rem;
  padding: 0;
  list-style: none;
}
.navigation__listItem {
  margin-left: 1.5rem;
}
.navigation__listItem a {
  color: white;
  margin-left: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Marcellus", serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  opacity: 0.85;
}
.navigation__secondary-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}
.navigation__secondary-listItem a i {
  color: white;
  font-size: 1rem;
  margin-left: 1.25rem;
  opacity: 0.75;
}

.blog__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 70rem;
  margin: 3.5rem 0 5rem;
}
.blog__listItem {
  width: 31%;
}
.blog__listItem img {
  width: 100%;
}
.blog__listItem h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: "Marcellus", serif;
  opacity: 0.85;
  letter-spacing: 0.15rem;
  margin: 1.75rem 0 0.75rem;
}
.blog__listItem p {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
}
.blog__listItem-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
}
.blog__listItem-button .line {
  height: 0.1rem;
  width: 0.75rem;
  background-color: black;
  margin-right: 0.5rem;
}
.blog__listItem-button h5 {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-family: "Marcellus", serif;
  letter-spacing: 0.1rem;
}

.testimonials__list {
  width: 50rem;
  margin: 0 auto 7.5rem;
}
.testimonials__listItem p {
  color: white;
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-weight: 300;
}
.testimonials__listItem .author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 1.5rem;
  font-family: "Marcellus", serif;
}
.testimonials__listItem .author h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.95;
}
.testimonials__listItem .author h6 {
  font-size: 0.9rem;
  font-weight: 300;
  margin-left: 0.5rem;
  opacity: 0.85;
}

/*# sourceMappingURL=index.css.map */
