.blog-page {
    &__wrapper {}

    &__list {
        width: 60rem;
        margin: 7.5rem auto;
        list-style: none;
    }

    &__listItem {
        width: 100%;
        margin-bottom: 4rem;

        img {
            width: 100%;
        }

        span {
            font-size: .9rem;
            font-weight: 300;
            display: inline-block;
            margin: 1rem 0;
        }

        h3 {
            font-family: 'Marcellus', serif;
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 1.25rem;
        }

        p {
            font-size: 1rem;
            font-weight: 300;
            margin: 1rem 0;
            opacity: .85;
            line-height: 1.75rem;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: .85rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: .05rem;
            transition: all .2s;

            &:hover {
                color: $primary-brown;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}