.blog-header {
    height: 30rem;
    position: relative;

    &__main {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            color: white;
            font-size: 4.25rem;
            font-family: 'Marcellus', serif;
            text-transform: uppercase;
            letter-spacing: .25rem;
            opacity: .85;
        }
    }
}