.menu__list {
    @include displayFlex(row, flex-start, space-between);
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 70rem;
    margin-top: 4rem;

    &Item {
        @include displayFlex(row, center, space-between);
        width: 47.5%;
        margin-bottom: 1.5rem;

        img {
            height: 5rem;
        }

        .wrapper {
            @include displayFlex(row, center, flex-end);
            width: 80%;

            &__info {
                width: 90%;

                .title {
                    @include displayFlex(row, flex-end, flex-start);

                    h4 {
                        font-family: 'Marcellus', serif;
                        font-size: 1.25rem;
                        opacity: .85;
                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        margin-right: .25rem;
                    }

                    .line {
                        border-bottom: dashed .1rem black;
                        flex: 1;
                    }
                }

                p {
                    font-size: .9rem;
                    font-weight: 300;
                    margin-top: .25rem;
                }
            }

            h5 {
                font-family: 'Marcellus', serif;
                font-size: 1.25rem;
                opacity: .75;
                margin-left: 1rem;
            }
        }
    }
}