.navigation {
    @include displayFlex(row, center, center);
    height: 5rem;
    border-bottom: .01rem solid rgba(255,255,255,.25);
    width: 100%;
    z-index: 250;
    transition: all .5s;

    &__list {
        @include displayFlex(row, center, center);
        list-style: none;
    }

    &__listItem {
        margin: 0 1rem;
        opacity: .85;

        a {
            text-decoration: none;
            font-size: .85rem;
            color: white;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
    }

    .active {
        color: $primary-brown;
    }
}

.mobile-menu {
    display: none;
}

// media queries 
@media(max-width: 725px) {
    .navigation {
        background-color: $dark-brown;
        border-bottom: none;
        height: 4rem;
    }

    .navigation__list {
        display: none;
    }

    .mobile-menu {
        @include displayFlex(row, center, center);
        opacity: .75;
        position: absolute;
        right: 2.5rem;

        i {
            color: white;
            position: static;
            font-size: 1.15rem;
        }

        h5 {
            color: white;
            font-size: 1.15rem;
            font-weight: 500;
            letter-spacing: .1rem;
        }
    }
}