.testimonials__list {
    width: 50rem;
    margin: 0 auto 9rem;

    &Item {
        p {
            color: white;
            font-size: 1.1rem;
            line-height: 1.75rem;
            font-weight: 300;
        }

        .author {
            @include displayFlex(row, center, center);
            color: white;
            margin-top: 2rem;
            font-family: 'Marcellus', serif;

            h5 {
                font-size: 1.1rem;
                text-transform: uppercase;
                font-weight: 500;
                opacity: .95;
            }

            h6 {
                font-size: .9rem;
                font-weight: 300;
                margin-left: .5rem;
                opacity: .85;
            }
        }
    }
}

.slick-dots {
    @include displayFlex(row, center, center);
    list-style: none;
    margin-top: 2.75rem;

    li {
        margin: 0 .5rem;

        button {
            height: .75rem;
            width: .75rem;
            border-radius: 50%;
            border: none;
            background-color: transparent;
            border: .15rem solid darken(white, 20%);
            text-indent: -1000px;
            outline: none;
        }
    }

    li.slick-active button {
        background-color: darken(white, 5%);
        border: .15rem solid darken(white, 5%);
    }
}