.awards {
    background: url('../../images/coffee-grounds-background.png');
    background-size: cover;
    background-position: center;
    padding: .1rem;

    &__list {
        @include displayFlex(row, center, space-between);
        list-style-type: none;
        padding: 0;
        margin: 7.5rem auto;
        width: 50rem;
        max-width: 90%;

        &Item {
            @include displayFlex(column, center, flex-start);

            .icon-wrapper {
                @include displayFlex(row, center, center);
                border: .1rem solid $primary-brown;
                height: 5rem;
                width: 5rem;
                transition: all .35s ease-in-out;

                i {
                    color: $primary-brown;
                    font-size: 1.5rem;
                    transition: all .35s ease-in-out;
                }

                &:hover {
                    transform: rotate(135deg);
                    background-color: $primary-brown;

                    i {
                        color: black;
                        transform: rotate(-135deg);
                    }
                }
            }

            h5 {
                color: $primary-brown;
                font-size: 1.75rem;
                font-weight: 500;
                margin: 1.5rem 0 .25rem;
            }

            span {
                color: white;
                opacity: .75;
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }
}