.contact {
    @include displayFlex(column, center, flex-start);
    position: relative;
    margin-top: -1rem;
    padding: .1rem;

    &__logo {
        margin-top: 7.5rem;
    }

    p {
        color: white;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
        width: 40rem;
        text-align: center;
        opacity: .75;
        margin: 2rem 0 4rem;
    }

    h4 {
        color: white;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-family: 'Marcellus', serif;
        opacity: .9;
        letter-spacing: .1rem;
        margin-bottom: .5rem;
    }

    span {
        color: white;
        font-size: 1.1rem;
        font-weight: 300;
        opacity: .85;
        margin-bottom: .25rem;
        display: inline-block;
    }

    .second-span {
        margin-bottom: 5rem;
    }

    &__input-wrapper {
        margin-bottom: 7.5rem;
    }

    input {}

    button {}

    &__background-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}