.footer {
    background-color: $dark-brown;
    padding: .1rem;

    &__wrapper {
        @include displayFlex(row, flex-start, space-between);
        margin: 5rem auto;
        width: 65rem;
        max-width: 90%;
    }

    &__content {
        h3 {
            color: white;
            font-size: 1.15rem;
            text-transform: uppercase;
            opacity: .85;
            font-weight: 500;
            margin-bottom: 1.25rem;
        }

        p {
            font-size: .9rem;
            color: white;
            font-weight: 300;
            max-width: 17.5rem;
            opacity: .75;
        }

        span {
            @include displayFlex(row, center, flex-start);
            margin-bottom: 1rem;

            i {
                color: white;
                margin-right: 1rem;
                opacity: .85;
                font-size: 1rem;
            }

            p {
                font-size: .9rem;
                opacity: .85;
            }
        }
    }

    &-menu__list {
        list-style-type: none;
        padding: 0;

        &Item {
            margin-bottom: .5rem;

            a {
                text-decoration: none;
                color: white;
                opacity: .85;
                font-size: 1rem;
            }
        }
    }
}

// media queries
@media(max-width: 875px) {
    .footer {
        &__wrapper {
            flex-direction: column;
        }

        &__content {
            margin-bottom: 2.5rem;

            p {
                width: 27.5rem;
                max-width: 100%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}