.info {
    @include displayFlex(row, flex-start, center);
    padding: 7.5rem 0;

    &__left-list {
        padding: 0;
        list-style: none;

        &Item {
            @include displayFlex(row, flex-start, flex-start);
            width: 20rem;
            margin-bottom: 3rem;

            h4 {
                text-align: right;
                font-size: 1.25rem;
                font-family: 'Marcellus', serif;
                text-transform: uppercase;
                opacity: .75;
                margin-bottom: .5rem;
            }

            p {
                text-align: right;
                font-size: 1rem;
                font-weight: 300;
                opacity: .65;
                line-height: 1.6rem;
            }

            img {
                margin-left: 1.25rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__right-list {
        padding: 0;
        list-style: none;

        &Item {
            @include displayFlex(row, flex-start, flex-start);
            width: 20rem;
            margin-bottom: 3rem;

            h4 {
                font-size: 1.25rem;
                font-family: 'Marcellus', serif;
                text-transform: uppercase;
                opacity: .75;
                margin-bottom: .5rem;
            }

            p {
                font-size: 1rem;
                font-weight: 300;
                opacity: .65;
                line-height: 1.6rem;
            }

            img {
                margin-right: 1.25rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__main-image {
        width: 27.5rem;
    }
}
