.ourStory {
    position: relative;
    height: 40rem;

    &__background-image1 {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -1;
    }

    &__background-image2 {
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: -1;
    }

    &__module {
        width: 35rem;
        padding: 2.5rem 2rem;
        background-color: rgba(0,0,0,.35);
        position: absolute;
        top: 50%;
        left: 62.5%;
        transform: translate(-50%, -50%);

        h3 {
            @include displayFlex(column, flex-start, flex-start);
            color: white;
            font-size: 2.75rem;
            line-height: 1.85rem;
            opacity: .85;
            font-weight: 600;

            span {
                color: $primary-brown;
                font-family: 'Great Vibes', cursive;
            }
        }

        p {
            color: rgba(255,255,255,.4);
            font-size: 1rem;
            margin-top: 2rem;
            line-height: 1.65rem;
        }
    }
}

// media queries
@media(max-width: 825px) {
    .ourStory {
        &__background-image1 {
            width: 100%;
        }

        &__background-image2 {
            display: none;
        }

        &__module {
            transform: initial;
            top: initial;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(18,15,15,.85);
            padding: 2.5rem 1.5rem;

            p {
                color: rgba(255,255,255,.65);
            }
        }
    }
}